# .gitignore

# --- Python & Jupyter ---
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints
.pytest_cache/
.venv
venv/
env/
dist/
build/

# --- Machine Learning / Data Science ---
*.csv
*.json
*.h5
*.pt
*.onnx
*.pkl
*.npy
*.npz

# --- LaTeX ---
*.aux
*.log
*.toc
*.gz
*.pdf
*.fdb_latexmk
*.fls
*.out

# --- Operative System ---
.DS_Store
Thumbs.db

# --- Virtual Environment ---
.env

# --- uv / Python ---
.venv/
uv.lock